<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li id="header">Little Bird</li>
      <li><%= link_to "World", news_path(section: "World") %></li>
      <li><%= link_to "US", news_path(section: "U.S.") %></li>
      <li><%= link_to "Business", news_path(section: "Business") %></li>
      <li><%= link_to "Technology", news_path(section: "Technology") %></li>
      <li><%= link_to "Science", news_path(section: "Science") %></li>
      <li><%= link_to "Health", news_path(section: "Health") %></li>
      <li><%= link_to "Sports", news_path(section: "Sports") %></li>
      <li><%= link_to "Arts", news_path(section: "Arts") %></li>
      <li><%= link_to "Style", news_path(section: "Style") %></li>
      <li><%= link_to "Food", news_path(section: "Food") %></li>
      <li><%= link_to "Sign Out", signout_path %></li>
   </ul>
  </ul>
</div>
<div class="container articles">
  <% @feed.each do |article| %>
  <div class="box col4 panel panel-default">
      <b><i><p><%= link_to article["headline"]["main"].truncate(100).html_safe, news_article_path(_id: article["_id"], web_url: article["web_url"]) %></p></i></b>
      <% if article["multimedia"].present? %>
      <%= image_tag("http://www.nytimes.com/#{article["multimedia"][0]["url"]}") %>
      <% else %>
      <%= image_tag('paperbird.png', class: "image-size") %>
      <% end %>
    </div>
  <% end %>


  <% @feed2.each do |article| %>
  <div class="box col4 panel panel-default">
      <b><i><p><%= link_to article["headline"]["main"].truncate(60).html_safe, news_article_path(_id: article["_id"], web_url: article["web_url"]) %></p></i></b>
      <% if article["multimedia"].present? %>
      <%= image_tag("http://www.nytimes.com/#{article["multimedia"][0]["url"]}") %>
      <% else %>
      <%= image_tag('paperbird.png', class: "image-size") %>
      <% end %>
    </div>
  <% end %>
</div>
