<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  <div class="box col3">
    ...
  </div>

  <div class="box col1">
    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
  </div>

  <div class="box col2">
  </div>

</div>

<div class="container">

  <div class="sidebar">
       <nav>
          <ul class="sidebar-nav">
             <li><%= link_to "World", news_path(section: "World") %></li>
             <li><%= link_to "US", news_path(section: "U.S.") %></li>
             <li><%= link_to "Business", news_path(section: "Business") %></li>
             <li><%= link_to "Technology", news_path(section: "Technology") %></li>
             <li><%= link_to "Science", news_path(section: "Science") %></li>
             <li><%= link_to "Health", news_path(section: "Health") %></li>
             <li><%= link_to "Sports", news_path(section: "Sports") %></li>
             <li><%= link_to "Arts", news_path(section: "Arts") %></li>
             <li><%= link_to "Style", news_path(section: "Style") %></li>
             <li><%= link_to "Food", news_path(section: "Food") %></li>
          </ul>
       </nav>
    </div>
  <div class="articles">
    <% @feed.each do |article| %>
      <div class="large-4 columns">
        <p><%= link_to article["headline"]["main"].html_safe, news_article_path(_id: article["_id"], web_url: article["web_url"]) %></p>
        <p><%= article["snippet"].html_safe %></p>
      </div>
    <% end %>
  </div>
</div>
