<body class="show">
<div class="container show">
  <div class="page-header">
    <%= link_to "Go Back", :back, class: 'btn btn-default pull-right', id: 'back' %>
    <p id="headline"><b><%= @article["headline"]["main"].html_safe %></b></p>
  </div>
  <% if @article["multimedia"].present? %>
    <%= image_tag("http://www.nytimes.com/#{@article["multimedia"][1]["url"]}") %>
  <% end %>
  <% if @article["lead_paragraph"].present? %>
  <p><%= @article["lead_paragraph"].html_safe %></p>
  <% end %>
  <%= link_to "Read More", @article["web_url"], class: 'btn btn-default', target: "_blank" %></br>

  <div class="comments">
    <% if @comments.present? %>
    <i class="fa fa-comment"><p>Here's What New York Times Readers are Saying:</p></i>
      <% @comments.each do |comment| %>
        <div class="well">
          <p><%= comment["commentBody"].html_safe %></p>
          <p><i><%= comment["userDisplayName"] %></i></p>
        </div>
      <% end %>
    <% end %>

      <p>Converse on Twitter</p>

    <a href="https://twitter.com/share" class="twitter-share-button" data-url=<%= @article["web_url"] %> data-text="via Little Bird" data-size="large" data-hashtags="littlebirdapp">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <br/>

    <% if @tweet_bucket.present? %>
      <% @tweet_bucket.each do |tweet| %>
        <div class="tweet">
          <p><%= tweet.text %><p>
          <p> - <%= tweet.user.name %> (@<%= link_to tweet.user.screen_name, "http://www.twitter.com/#{tweet.user.screen_name}" %> )</p>
        </div>
        <br/>
      <% end %>
    <% end %>
  </div>
</div>
</body>
