<div class="container">
  <div class="page-header">
    <h1>Little Bird</h1>
    <%= link_to 'Sign in With Twitter', '/auth/twitter' %>
  </div>
</div>
<div class="container">
<%= form_tag '/pages/index', method: :get %>
  <%= label_tag :text, 'Tweet' %>
  <%= text_field_tag :text %>
  <%= submit_tag %>
</div>
</div>
