<!DOCTYPE html>
<html>
<head>
  <title>Little Bird</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= image_tag("bird.png", class: 'pull-left', id: 'icon') %>
        <a class="navbar-brand" href="/">Little Bird</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] %>
        <li><%= link_to 'Sign Out', signout_path %></li>
        <% else %>
        <li><%= link_to 'Sign in With Twitter', '/auth/twitter' %></li>
        <% end %>
      </ul>
    </div>
  </nav>

<% if alert  %>
<%= alert %>
<% end %>

<%= yield %>

  <footer>
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><i>Copyright © 2015 gSchool, All rights reserved.</i></p>
      </div>
    </div>
  </div>
  </footer>
</body>
</html>
